%h1= "Hi #{@story.author_name}!"

%p Welcome to the #techgirls sisterhood! Thank you for sharing your story, it has now been posted and you can view it here:

%p= link_to story_url(@story)

%p Please encourage your friends to share their #techgirl stories too!

%p Order your free Tech Girls are Superheroes Book at www.techgirlsaresuperheroes.org

%p Follow us on social media to keep in touch with #techgirls news:

%ul
  %li= link_to 'Facebook - Tech Girls are Superheroes', 'https://www.facebook.com/Techgirlsaresuperheroes'

  %li= link_to 'Twitter - @TGAsuperheroes', 'https://twitter.com/TGAsuperheroes'

  %li= link_to 'Instagram - @techgirlsaresuperheroes', 'http://instagram.com/techgirlsaresuperheroes'

%p Go #techgirls from all of us here at the Tech Girls Movement!