.map
  -# %iframe.bigsky{src:'http://bigsky.io/maps/69a5807'}
  %iframe.bigsky{src:'http://bigsky.io/maps/d30242b'}

%h3 Tech Girls

.stories
  - if @stories.present?
    #wallmessages.qa-message-list
      .container
        .row
          - @stories.each do |story|
            .message-item{ id: dom_id(story) }
              .message-inner
                .message-head.clearfix
                  .avatar.pull-left
                    = link_to(story_path(story)) do
                      = image_tag(story.super_hero.archetype_data[:face_image_name])
                  .user-detail
                    %h5.handle
                      = "#{ story.super_hero.name } | #{ story.super_hero.super_power }"
                    .post-meta
                      .asker-meta
                        %span.qa-message-what
                        %span.qa-message-when
                          %span.qa-message-when-data
                            = story.created_at.to_s(:long)
                .qa-message-content
                  = story.body
  - else
    %p
      There were no stories entered yet.
